{% extends 'base.html.twig' %}
{% block body %}

<div id="graph-container"></div>

{# Server provides JSON graph state here #}
<script type="application/json" id="graph-data">
    {{ graph_state|json_encode|raw }}
</script>
{% endblock %}


{% block javascripts %}
    {{ importmap('graph-app') }}
{% endblock %}

{% block stylesheets %}
{% endblock %}
